.DS_Store

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/constraints.pro

# Docusaurus generated folders
website/translated_docs/
website/build/
website/i18n/

# Yarn build
website/node_modules/

# Generated docs
docs/contributing.md

# We use YARN
website/package-lock.json
